.decorator-box {
  /** Ancestors Tree **/
  /** Descendant Tree **/
  /** Link Tree **/
  /** Persons **/
  /**
   * Center several text lines in a div 
   * @see http://www.alsacreations.com/tuto/lire/1032-comment-centrer-verticalement-sur-tous-les-navigateurs.html#cv_lignes
   */ }
  .decorator-box.smg-tree-root-ancestors {
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    /*
    tr.smg-tree-line {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    border: 0;
    padding: 0;
    }
    */ }
    .decorator-box.smg-tree-root-ancestors .smg-tree-person {
      padding: 0 2px;
      margin: 0 2px; }
    .decorator-box.smg-tree-root-ancestors .col-width-1,
    .decorator-box.smg-tree-root-ancestors .col-width-2 {
      vertical-align: bottom; }
    .decorator-box.smg-tree-root-ancestors .father-link {
      width: 100%;
      border-spacing: 0px;
      border-collapse: collapse; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(1) td:nth-of-type(1) {
        width: 48%;
        height: 10px; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(1) td:nth-of-type(2) {
        width: 48%;
        border-bottom: 1px solid black; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(1) td:nth-of-type(3) {
        width: 30px; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(2) td:nth-of-type(1) {
        height: 10px;
        width: 30px; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(2) td:nth-of-type(2) {
        width: 50%; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(2) td:nth-of-type(3) {
        width: 48%; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(1) td:nth-of-type(1) {
        border-right: 1px solid black; }
      .decorator-box.smg-tree-root-ancestors .father-link tr:nth-of-type(2) td:nth-of-type(3) {
        border-left: 1px solid black; }
    .decorator-box.smg-tree-root-ancestors .mother-link {
      width: 100%;
      border-spacing: 0px;
      border-collapse: collapse; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(1) td:nth-of-type(1) {
        width: 30px;
        border-bottom: 1px solid black;
        height: 10px; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(1) td:nth-of-type(2) {
        width: 48%; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(1) td:nth-of-type(3) {
        width: 48%; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(2) td:nth-of-type(1) {
        height: 10px;
        width: 48%; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(2) td:nth-of-type(2) {
        width: 50%; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(2) td:nth-of-type(3) {
        width: 30px; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(1) td:nth-of-type(1) {
        border-right: 1px solid black; }
      .decorator-box.smg-tree-root-ancestors .mother-link tr:nth-of-type(2) td:nth-of-type(1) {
        border-left: 1px solid black; }
    .decorator-box.smg-tree-root-ancestors .smg-tree-marriage {
      border-collapse: collapse;
      margin: auto; }
      .decorator-box.smg-tree-root-ancestors .smg-tree-marriage tr:nth-of-type(1) td:nth-of-type(1) {
        border: 1px solid black;
        padding: 0px 5px; }
      .decorator-box.smg-tree-root-ancestors .smg-tree-marriage tr:nth-of-type(2) td:nth-of-type(1) {
        border-right: 1px solid black;
        height: 10px;
        width: 50%; }
      .decorator-box.smg-tree-root-ancestors .smg-tree-marriage tr:nth-of-type(2) td:nth-of-type(2) {
        width: 50%; }
  .decorator-box.smg-tree-root-descendant {
    border-collapse: collapse; }
    .decorator-box.smg-tree-root-descendant td {
      padding: 0; }
    .decorator-box.smg-tree-root-descendant table {
      border-collapse: collapse; }
    .decorator-box.smg-tree-root-descendant .person {
      min-width: 30px; }
    .decorator-box.smg-tree-root-descendant .person-block,
    .decorator-box.smg-tree-root-descendant .person-name,
    .decorator-box.smg-tree-root-descendant .person-dates {
      display: inline-block;
      margin: 2px; }
    .decorator-box.smg-tree-root-descendant .person-dates {
      display: none; }
    .decorator-box.smg-tree-root-descendant .descendant-line {
      line-height: 80px;
      margin-top: 5px;
      display: block; }
    .decorator-box.smg-tree-root-descendant .number {
      display: inline-block;
      visibility: hidden; }
      .decorator-box.smg-tree-root-descendant .number.depth-1 {
        width: 80px; }
      .decorator-box.smg-tree-root-descendant .number.depth-2 {
        width: 160px; }
      .decorator-box.smg-tree-root-descendant .number.depth-3 {
        width: 240px; }
      .decorator-box.smg-tree-root-descendant .number.depth-4 {
        width: 320px; }
      .decorator-box.smg-tree-root-descendant .number.depth-5 {
        width: 400px; }
      .decorator-box.smg-tree-root-descendant .number.depth-6 {
        width: 480px; }
      .decorator-box.smg-tree-root-descendant .number.depth-7 {
        width: 560px; }
      .decorator-box.smg-tree-root-descendant .number.depth-8 {
        width: 640px; }
      .decorator-box.smg-tree-root-descendant .number.depth-9 {
        width: 720px; }
      .decorator-box.smg-tree-root-descendant .number.depth-10 {
        width: 800px; }
      .decorator-box.smg-tree-root-descendant .number.depth-11 {
        width: 880px; }
      .decorator-box.smg-tree-root-descendant .number.depth-12 {
        width: 960px; }
      .decorator-box.smg-tree-root-descendant .number.depth-13 {
        width: 1040px; }
      .decorator-box.smg-tree-root-descendant .number.depth-14 {
        width: 1120px; }
      .decorator-box.smg-tree-root-descendant .number.depth-15 {
        width: 1200px; }
      .decorator-box.smg-tree-root-descendant .number.depth-16 {
        width: 1280px; }
      .decorator-box.smg-tree-root-descendant .number.depth-17 {
        width: 1360px; }
      .decorator-box.smg-tree-root-descendant .number.depth-18 {
        width: 1440px; }
      .decorator-box.smg-tree-root-descendant .number.depth-19 {
        width: 1520px; }
      .decorator-box.smg-tree-root-descendant .number.depth-20 {
        width: 1600px; }
    .decorator-box.smg-tree-root-descendant .father-link {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-collapse: collapse; }
    .decorator-box.smg-tree-root-descendant .mother-link {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-collapse: collapse; }
    .decorator-box.smg-tree-root-descendant .couple-link {
      width: 50%;
      border-right: 1px solid black; }
    .decorator-box.smg-tree-root-descendant .child-left {
      width: 50%;
      border-right: 1px solid black; }
      .decorator-box.smg-tree-root-descendant .child-left.child-middle, .decorator-box.smg-tree-root-descendant .child-left.child-last {
        border-top: 1px solid black; }
    .decorator-box.smg-tree-root-descendant .child-right {
      width: 50%; }
      .decorator-box.smg-tree-root-descendant .child-right.child-first, .decorator-box.smg-tree-root-descendant .child-right.child-middle {
        border-top: 1px solid black; }
  .decorator-box.smg-tree-root-link {
    text-align: center; }
    .decorator-box.smg-tree-root-link .father-link {
      width: 100%;
      border-spacing: 0px;
      border-collapse: collapse; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(1) td:nth-of-type(1) {
        width: 48%;
        height: 10px; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(1) td:nth-of-type(2) {
        width: 48%;
        border-bottom: 1px solid black; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(1) td:nth-of-type(3) {
        width: 30px; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(2) td:nth-of-type(1) {
        height: 10px;
        width: 30px; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(2) td:nth-of-type(2) {
        width: 50%; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(2) td:nth-of-type(3) {
        width: 48%; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(1) td:nth-of-type(3) {
        border-left: 1px solid black; }
      .decorator-box.smg-tree-root-link .father-link tr:nth-of-type(2) td:nth-of-type(1) {
        border-right: 1px solid black; }
    .decorator-box.smg-tree-root-link .mother-link {
      width: 100%;
      border-spacing: 0px;
      border-collapse: collapse; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(1) td:nth-of-type(1) {
        width: 30px;
        border-bottom: 1px solid black;
        height: 10px; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(1) td:nth-of-type(2) {
        width: 48%; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(1) td:nth-of-type(3) {
        width: 48%; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(2) td:nth-of-type(1) {
        height: 10px;
        width: 48%; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(2) td:nth-of-type(2) {
        width: 50%; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(2) td:nth-of-type(3) {
        width: 30px; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(1) td:nth-of-type(1) {
        border-left: 1px solid black; }
      .decorator-box.smg-tree-root-link .mother-link tr:nth-of-type(2) td:nth-of-type(2) {
        border-left: 1px solid black; }
  .decorator-box .person-empty {
    height: 80px;
    margin: 2px 4px;
    text-align: center;
    line-height: 80px;
    width: 80px; }
    .decorator-box .person-empty.with-photo {
      height: 136px;
      line-height: 136px; }
  .decorator-box .person-block {
    border: 1px solid black;
    height: 80px;
    margin: auto;
    text-align: center;
    line-height: 80px;
    width: 80px; }
    .decorator-box .person-block.with-photo {
      height: 136px;
      line-height: 136px; }
  .decorator-box .person-name {
    width: 80px;
    vertical-align: top;
    display: inline-block;
    line-height: normal;
    text-align: center; }
  .decorator-box .person-dates {
    display: none; }
  .decorator-box .sosa-num {
    text-align: center;
    padding-left: 10px;
    display: inline;
    min-width: 12px;
    background-color: #156bb4;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    margin: auto;
    float: right;
    position: absolute;
    margin-left: 56px; }

.decorator-simple {
  /** Ancestors Tree **/
  /** Descendant Tree **/
  /** Link Tree **/ }
  .decorator-simple.smg-tree-root-ancestors {
    text-align: center; }
    .decorator-simple.smg-tree-root-ancestors .father-link {
      width: 100%;
      border-spacing: 0px; }
      .decorator-simple.smg-tree-root-ancestors .father-link tr:nth-of-type(1) td:nth-of-type(3) {
        text-align: center; }
        .decorator-simple.smg-tree-root-ancestors .father-link tr:nth-of-type(1) td:nth-of-type(3):before {
          content: "\\"; }
    .decorator-simple.smg-tree-root-ancestors .mother-link {
      width: 100%;
      border-spacing: 0px; }
      .decorator-simple.smg-tree-root-ancestors .mother-link tr:nth-of-type(1) td:nth-of-type(1) {
        text-align: center; }
        .decorator-simple.smg-tree-root-ancestors .mother-link tr:nth-of-type(1) td:nth-of-type(1):before {
          content: "/"; }
    .decorator-simple.smg-tree-root-ancestors .smg-tree-marriage {
      border-collapse: collapse;
      margin: auto; }
      .decorator-simple.smg-tree-root-ancestors .smg-tree-marriage tr:nth-of-type(2) td:nth-of-type(1) {
        border-right: 1px solid black;
        height: 10px;
        width: 50%; }
      .decorator-simple.smg-tree-root-ancestors .smg-tree-marriage tr:nth-of-type(2) td:nth-of-type(2) {
        width: 50%; }
  .decorator-simple.smg-tree-root-descendant {
    margin-bottom: 20px;
    border-collapse: collapse;
    /*
    .father-link {
    	&:before {
    		content: "\";
    	}
    }
    .mother-link {
    	&:before {
    		content: "/";
    	}
    }
    .couple-link {
    	width: 50%;
    	border-right: 3px solid black;
    }
    .child-first.child-right {
    	&:before {
    		content: "/";
    	}
    }
    .child-middle.child-left,
    .child-one.child-left {
    	border-right: 3px solid black;
    }
    .child-last.child-left {
    	&:before {
    		content: "\";
    	}
    }
    .child-left {
    	width: 50%;
    	&.child-middle,
    	&.child-last {
    		border-top: 3px solid black;
    	}
    }
    .child-right {
    	width: 50%;
    	&.child-first,
    	&.child-middle {
    		border-top: 3px solid black;
    	}
    }
    */ }
    .decorator-simple.smg-tree-root-descendant td {
      padding: 0; }
    .decorator-simple.smg-tree-root-descendant table {
      border-collapse: collapse; }
    .decorator-simple.smg-tree-root-descendant .center {
      text-align: center; }
      .decorator-simple.smg-tree-root-descendant .center > table {
        margin: auto; }
        .decorator-simple.smg-tree-root-descendant .center > table td {
          text-align: center; }
    .decorator-simple.smg-tree-root-descendant .person {
      min-width: 80px; }
    .decorator-simple.smg-tree-root-descendant .person-block,
    .decorator-simple.smg-tree-root-descendant .person-name,
    .decorator-simple.smg-tree-root-descendant .person-dates {
      display: inline-block;
      margin: 2px; }
    .decorator-simple.smg-tree-root-descendant .person-dates {
      margin-left: 10px; }
    .decorator-simple.smg-tree-root-descendant .descendant-line {
      display: block; }
    .decorator-simple.smg-tree-root-descendant .father-link {
      border-left: 1px solid black;
      border-bottom: 1px solid black; }
    .decorator-simple.smg-tree-root-descendant .mother-link {
      border-right: 1px solid black;
      border-bottom: 1px solid black; }
    .decorator-simple.smg-tree-root-descendant .couple-link {
      width: 50%;
      border-right: 1px solid black; }
    .decorator-simple.smg-tree-root-descendant .child-left {
      width: 50%;
      border-right: 1px solid black; }
      .decorator-simple.smg-tree-root-descendant .child-left.child-middle, .decorator-simple.smg-tree-root-descendant .child-left.child-last {
        border-top: 1px solid black; }
    .decorator-simple.smg-tree-root-descendant .child-right {
      width: 50%; }
      .decorator-simple.smg-tree-root-descendant .child-right.child-first, .decorator-simple.smg-tree-root-descendant .child-right.child-middle {
        border-top: 1px solid black; }
  .decorator-simple.smg-tree-root-link {
    text-align: center; }
    .decorator-simple.smg-tree-root-link .father-link {
      width: 100%;
      border-spacing: 0px; }
      .decorator-simple.smg-tree-root-link .father-link tr:nth-of-type(1) td:nth-of-type(3) {
        text-align: center; }
        .decorator-simple.smg-tree-root-link .father-link tr:nth-of-type(1) td:nth-of-type(3):before {
          content: "/"; }
    .decorator-simple.smg-tree-root-link .mother-link {
      width: 100%;
      border-spacing: 0px; }
      .decorator-simple.smg-tree-root-link .mother-link tr:nth-of-type(1) td:nth-of-type(1) {
        text-align: center; }
        .decorator-simple.smg-tree-root-link .mother-link tr:nth-of-type(1) td:nth-of-type(1):before {
          content: "\\"; }

#semanticgenealogy-import-form {
  border-collapse: collapse;
  border: 1px solid #ccc; }
  #semanticgenealogy-import-form td,
  #semanticgenealogy-import-form th {
    border: 1px solid #ccc;
    padding: 3px;
    line-height: 1; }
  #semanticgenealogy-import-form th {
    background-color: #888888;
    color: white; }
  #semanticgenealogy-import-form tr td:nth-of-type(2),
  #semanticgenealogy-import-form tr td:nth-of-type(3) {
    text-align: center; }
  #semanticgenealogy-import-form tr.status-new td:nth-of-type(3),
  #semanticgenealogy-import-form tr.status-new td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #2980b9; }
  #semanticgenealogy-import-form tr.status-unknown td:nth-of-type(3),
  #semanticgenealogy-import-form tr.status-unknown td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #c0392b; }
  #semanticgenealogy-import-form tr.status-uptodate td:nth-of-type(3),
  #semanticgenealogy-import-form tr.status-uptodate td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #27ae60; }
  #semanticgenealogy-import-form tr.status-unchanged td:nth-of-type(3),
  #semanticgenealogy-import-form tr.status-unchanged td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #27ae60; }
  #semanticgenealogy-import-form tr.status-willupdate td:nth-of-type(3),
  #semanticgenealogy-import-form tr.status-willupdate td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #2980b9; }
  #semanticgenealogy-import-form p {
    margin: 0; }

.sosa {
  background-color: #156bb4;
  border-radius: 40px;
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  line-height: 12px;
  padding: 5px; }

.icon-plus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAAB3RJTUUH4QoEEgkYCRK5cAAABCVJREFUSMfFVV1PnEUUfmber92FZbdQtgsEUEkT28SUkIZoshUB9cJeiHLTIKZo9MIfUBIv8A+Y2qTGi8YrSapRvGhDkFpDsAq1sts0+EENja0fLZRdYHf52t33nTnjxe6+sECVxhgnefPOZM6cZ86c5zkH+I8H24tR33hXMEv6YcFkWEqAiO6zDTZz4aULqX8FcHKyt5trfMDgen2wzO/1WJYJAJlMTiyllh07J+KO7bzz6Qufn38ogJ7JnkbLMIarygJN9bW1Po9pgTMGxjg4Y+CMgzEG23Yw88usXIgn4nrW88zgy4Oz/wjQd+2VJ3WmX3ys8ZFQuddb4nQ3EM44UqtpXP3+erZBNb7+7vHTnzwQoGeyp9FnmFNNDQ0hwzB3OOJ823rLfjaXw/iVCfsof+rF/uP9l4o++VYAj2EM14QPhMAZJAkIkhAkIEmixWzFMbMTEaMdzdpRCCkgpISQAlJKmKaJ1tYW84Yz9VksFgsUferFSe+13u4yj6/JMDQIkoXbKVDhf9A4hGotBABYlAlEc9+BmHLtuCIE/BUI7Pf7RxdGzgE4URKByflAedDrEyR33F6QAJRyI1VQ2G6XX0s8fuggZrI/dY2NjdW5AH3jfUHO9Hql4IYupSwczh9UJVRQJXuSpAtkmiYcnrPSKt3tPpGwxGGP5vVIklCMgZhCR6AdT/iaCyxgqNSqXPf7eBVOVrzpUmTWvolo7iqIcXCmENwXxPz6XAeAszoAKKVqFSNLkCiwg+DnFQgbNbuKR2c6qvUD7vou+xNCynzOOMHw6lhLrzS6ETCQIqUKyc0njpTac71RigpnCVxxSCIwrlmbTyTUPAkSUkqNOIEzjqRYxpx9D6zwDtVGCDrLk04ogSWRcKWUFmlIki7jMqtZBHjFmgsgbfmzwx1HI25xxaCYwujiCL5cGnXV21//NmrMOgBAQsTx/v3Tu4qOGCGZTKG2su6Wy6Kh54bSihB3hLONng9gkUJBZLLETpDEemYDHulBwApGS3TAJAbEihSixPEmz9U2HRT1kaf0pqpv37yDiL8tqZQaKQEY7Dj/scoi7tj2DvEIkoitRPFN6mt8m7qC66uxkr3iPJlKQaQIR8qbB9va2m6VlAoACKCsfXk5Pa0qHY+ma4VSkE/6cOLijgJXpDQxDsfO4s4Pv+GN0FvTRHRm12L3wbMfzjbQo6/JhLSdrLMl9IKyi9+226+kV/Hrjds4UdV7L+wLn+rs7Pz9bxvO2cvvPT8lokO2mavgQQ6uabv2A3IEkndT4Ks6eva/Oh32hU9FIpGv9tQyY7FY4PLipXMz9o9d68hY3OSQOoErQDkK9poNn/LhWNnTySP+lo80TTsTiUT+eOimPzExUZvILHTPyfnOjNxo5GBWOa9Yq7XqZv2aPwrgi2JC/5fxF/sJibWdecRzAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTEwLTA0VDE4OjA5OjI0KzAwOjAwI4Us8QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0xMC0wNFQxODowOToyNCswMDowMFLYlE0AAAAASUVORK5CYII=);
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px; }
