
table td {
	//border: 1px solid gray !important;
}

@mixin parent-link($left, $gen) {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;

	  &.gen-#{$gen} {
			tr:nth-of-type(1) {
				td:nth-of-type(1) {
					@if $left {
					  width: 30px;
					  border-bottom: 2px solid black;
					} @else {
					  width: 48%;
					}
					height: 10px;
				}
				td:nth-of-type(2) {
					width: 48%;
					width: $box-width * $gen;
					@if not $left {
						border-bottom: 2px solid black;
					}
				}
				td:nth-of-type(3) {
					@if $left {
					  width: 48%;
					} @else {
					  width: 30px;
					}
				}
			}
			tr:nth-of-type(2) {
				td:nth-of-type(1) {
					height: 10px;
					@if $left {
					  width: 48%;
					} @else {
					  width: 30px;
					}
				}
				td:nth-of-type(2) {
					width: 50%;
				}
				td:nth-of-type(3) {
					@if $left {
					  width: 30px;
					} @else {
					  width: 48%;
					}
				}
			}

			@if $left {
				tr:nth-of-type(1) {
					td:nth-of-type(1) {
						border-right: 2px solid black;
					}
				}
				tr:nth-of-type(2) {
					td:nth-of-type(1) {
						border-left: 2px solid black;
					}
				}
			} @else {
				tr:nth-of-type(1) {
					td:nth-of-type(1) {
						border-right: 2px solid black;
					}
				}
				tr:nth-of-type(2) {
					td:nth-of-type(3) {
						border-left: 2px solid black;
					}
				}
			}

		}
}


$box-size: 90px;
$box-height: $box-size * 1.7;
$box-width: $box-size;

$parent-link-margin: 10px;
$box-interval: 8px / 2;


.decorator-box {
	/** Ancestors Tree **/
	&.smg-tree-root-ancestors {
		text-align: center;
		border-spacing: 0;
		border-collapse: collapse;
		background-color: white;

		/*
		tr.smg-tree-line {
		padding-top: 0px;
		padding-bottom: 0px;
		margin: 0;
		border: 0;
		padding: 0;
		}
		*/

		.smg-tree-person {
			padding: 0 2px;
			margin: 0 $box-interval;
		}

		.col-width-1,
		.col-width-2 {
			vertical-align: bottom;
		}


		.father-link {
			@for $gen from 1 through 10 {
				@include parent-link(false, $gen);
			}
		}

		.mother-link {
			@for $gen from 1 through 10 {
				@include parent-link(true, $gen);
			}
		}

		.smg-tree-marriage {
			border-collapse: collapse;
			margin: auto;

			tr:nth-of-type(1) td {
				height: 30px;
			}
			tr:nth-of-type(2) td {
				height: 15px;
			}

			tr:nth-of-type(1) td:nth-of-type(1) {
				border: 1px solid black;
				padding: 0px 5px;
			}
			tr:nth-of-type(2) td:nth-of-type(1) {
				border-right: 1px solid black;
				height: 10px;
				width: 50%;
			}
			tr:nth-of-type(2) td:nth-of-type(2) {
				width: 50%;
			}
		}
		.smg-tree-marriage-empty {
			tr:nth-of-type(1) td {
				height: 30px;
			}
			tr:nth-of-type(2) td {
				height: 15px;
			}
		}
	}

	/** Descendant Tree **/
	&.smg-tree-root-descendant {
		border-collapse: collapse;
		background-color: white;
		//border:1px solid black;
		td {
		  padding: 0;
		  //border:1px solid black;
		}
		table {
			margin: auto;
			border-collapse: collapse;
		}
		.person {
			min-width: 30px;
		}
		.person-name {
			margin-top: 4px;
		}
		.person-block,
		//.person-name,
		.person-dates {
			display: block;
			margin: 2px;
		}
		.descendant-line {
			line-height: $box-size;
			margin-top: 5px;
			display: block;
		}
		.number {
			display: inline-block;
			visibility: hidden;
			@for $i from 1 through 20 {
				&.depth-#{$i} {
					width: $box-size*$i;
				}
			}
		}
		.father-link {
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			border-collapse: collapse;
		}
		.mother-link {
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			border-collapse: collapse;
		}
		.couple-link {
			width: 50%;
			border-right: 1px solid black;
		}
		.child-left {
			width: 50%;
			border-right: 1px solid black;
			&.child-middle,
			&.child-last {
				border-top: 1px solid black;
			}
		}
		.child-right {
			width: 50%;
			//border-right: 1px solid black;
			&.child-first,
			&.child-middle {
				border-top: 1px solid black;
			}
		}
	}

	/** Link Tree **/
	&.smg-tree-root-link {
		text-align: center;


		.father-link {
			@include parent-link(false, 1);
			tr:nth-of-type(1) {
				td:nth-of-type(3) {
					border-left: 1px solid black;
				}
			}
			tr:nth-of-type(2) {
				td:nth-of-type(1) {
					border-right: 1px solid black;
				}
			}
		}

		.mother-link {
			@include parent-link(true, 1);
			tr:nth-of-type(1) {
				td:nth-of-type(1) {
					border-left: 1px solid black;
				}
			}
			tr:nth-of-type(2) {
				td:nth-of-type(2) {
					border-left: 1px solid black;
				}
			}
		}
	}

	/** Persons **/


	.person-empty {
		height: $box-size;
		margin: 2px 4px;
		text-align: center;
		line-height: $box-size;
		width: $box-size;
		min-width: $box-size;
		table-layout: fixed;
		//border: 1px solid red;
		&.with-photo {
			height: $box-height;
			line-height: $box-height;
		}
	}

	.person-block {
		border: 1px solid black;
		height: $box-size;
		margin: auto;
		text-align: center;
		line-height: $box-size;
		width: $box-size;
		&.with-photo {
			height: $box-height;
			line-height: $box-height;
		}
	}

	/**
	 * Center several text lines in a div 
	 * @see http://www.alsacreations.com/tuto/lire/1032-comment-centrer-verticalement-sur-tous-les-navigateurs.html#cv_lignes
	 */
	.person-name {
		width: $box-size;
		vertical-align: top;
		display: inline-block;
		line-height: normal;
		text-align: center;

	}

	.person-dates {
		font-size: 0.8em;
		//display: none;
	}

	.sosa-num {
		text-align: center;
		padding-left: 10px;
		display: inline;
		min-width: 12px;
		background-color: #156bb4;
		border-radius: 40px;
		color: white;
		font-size: 12px;
		line-height: 12px;
		padding: 5px;
		margin: auto;
		//position: relative;
		//height: 0px;
		//margin-bottom: -12px;
		float: right;
		position: absolute;
		margin-left: $box-width * 0.9;
		//left: 70px;
		//right: -30px;
		//top: 22px;
		//bottom: -22px;
	}

	.mariage-link {
		display: inline-block;

		p {
			margin: 0;
			padding: 0;
			line-height: 16px;
		}
	}
	.mariage-dates {
		display: block;
		font-size: 0.8em;
		margin: 0;
		padding: 0;
		line-height: 13px;
	}

}
